.cd-top {
	display: inline-block;
	height: 40px;
	width: 40px;
	line-height: 36px;
	border: 1px solid $light-grey;
	border-radius: 50%;
	
	position: fixed;
	bottom: 40px;
	right: 10px;
	z-index: 100;
	

	/* image replacement properties */
	//overflow: hidden;
	//text-indent: 100%;
	//white-space: nowrap;

	//background: rgba($link, .8) url(../img/cd-top-arrow.svg) no-repeat center 50%;
	background: $light;
	box-shadow: $block-shadow;
	
	font-size: 3rem;
	color: $light-grey;
	text-align: center;

	visibility: hidden;
	opacity: 0;

	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;

	&.cd-is-visible, &.cd-fade-out, .no-touch &:hover {
		-webkit-transition: opacity .3s 0s, visibility 0s 0s;
		-moz-transition: opacity .3s 0s, visibility 0s 0s;
		transition: opacity .3s 0s, visibility 0s 0s;
	}

	&.cd-is-visible { /* the button becomes visible */
		visibility: visible;
		opacity: 1;
	}

	&.cd-fade-out { /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
		opacity: .5;
	}

	.no-touch &:hover {
		background-color: $brand-super-light;
		color: $light;
		opacity: 1;
	}
}

@media only screen and (max-width: $screen-xs-max) {
	.cd-top {
		display: none !important;
	}
}