$input-color: #333;
$input-hover-color: red;
$input-background: transparent;
$input-border: $input-color;

.number-input {
	display: inline-block;
	position: relative;
	max-width: 90px;
	padding: 0 22px;
	> i {
		display: inline-block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		font-size: 1.8rem;
		color: $input-color;
		transition: color .2s;
		&:hover,
		&:active {
			color: $input-hover-color;
		}
		&.minus {
			left: -2px;
		}
		&.plus {
			right: -2px;
		}
	}
	> input {
		display: inline-block;
		width: 100%;
		padding: 0 .2rem;
		font-size: 1.4rem;
		color: $input-color;
		text-align: center;
		outline: 0;
		border: 0;
		border-radius: 0;
		appearance: none;
		&:hover,
		&:focus {
			border: 1px solid $input-hover-color;
		}
	}
}