/* img-slider.scss */

.simple-slider {
	display: block;
	position: relative;
	margin: 0 auto;
	padding: 0 5rem;
	text-align: center;
	.slider_btn {
		display: block;
		height: auto;
		position: absolute;
		top: 50%;
		background-color: transparent;
		border: 0;
		outline: 0;
		z-index: 2;
		text-align: center;
		font-size: 3rem;
		transition: all .2s;
		&--prev {
			transform: translateY(-50%);
			left: 0;
		}
		&--next {
			transform: translateY(-50%);
			right: 0;
		}
		&:hover,
		&:active {

		}
		&.slick-disabled {
			visibility: hidden;
		}
	}
}

.simple-slider_slide {
	display: block;
	width: 100%;
	height: auto;
	outline: 0;
	> a {
		display: block;
		margin: 0 auto;
	}
	img {
		display: block;
		width: 100%;
		max-width: 100%;
		height: auto;
		margin: 0 auto;
	}
}


/* img-slider.scss end */