.title {
	font-size: 4rem;
	text-transform: uppercase;
	text-align: center;
	padding-bottom: 1em;
	margin: 0 auto;
	position: relative;
}

@media only screen and (max-width: $screen-xs-max) {
	.title {
		font-size: 3rem;
	}
}
@media only screen and (max-width: $screen-xs) {
	.title {
		font-size: 2.6rem;
	}
}
