<form action="search.json" class="search">
	<input type="text" class="search_input input js-autocomplete" placeholder="Поиск - введите название или артикул">
	<button type="submit" class="search_btn orange-btn"><span>Найти</span></button>
	<div class="js-search-result search_result"></div>
</form>
