<div class="simple-slider js-single-slider">
	<div class="simple-slider_slide">
		<img src="http://placehold.it/1200x400" alt=""> 
	</div><!-- simple-slider_slide -->
	<div class="simple-slider_slide">
		<img src="http://placehold.it/1200x400" alt=""> 
	</div><!-- simple-slider_slide -->
	<div class="simple-slider_slide">
		<img src="http://placehold.it/1200x400" alt=""> 
	</div><!-- simple-slider_slide --> 
</div><!-- slider -->