<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name=”description” content=””>

	<link rel="icon" type="image/png" href="img/favicon.png">
	<link rel="apple-touch-icon" href="img/favicon.png">

	<!-- fonts -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- libs -->
	<!--<link rel="stylesheet" href="libs/magnific-popup/magnific-popup.css">-->
	<!--<link rel="stylesheet" href="libs/slick/slick.css">-->
	<!-- main styles -->
	<link rel="stylesheet" href="css/style.css">

	<script src="libs/modernizr-2.8.3.min.js"></script>
	
</head>
