	<!-- HEADER -->
	<header class="header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-12">

					

				</div>
				<!-- col -->
			</div>
			<!-- row -->
		</div>
		<!-- container-fluid -->
	</header>
	<!-- HEADER end-->
	
