<!-- SCRIPTS -->
	<script src="http://code.jquery.com/jquery-1.12.0.min.js"></script>
	<script>
		window.jQuery || document.write('<script src="libs/jquery/jquery-1.12.0.min.js"><\/script>')
	</script>
	<!-- libs -->
	<script src=libs/device.js></script>
	<!--<script src=libs/magnific-popup/jquery.magnific-popup.min.js></script>-->
	<!--<script src=libs/slick/slick.js></script>-->
	<!--<script src=libs/waypoints/waypoints.min.js></script>-->
	<!--<script src=libs/PickMeUp-master/dist/pickmeup.min.js></script>-->
	<!--<script src=libs/Inputmask-3.x/dist/jquery.inputmask.bundle.js></script>-->
	<!--<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuZMjqL0Vvlelcahq5ZiJZ8mAav816Kpg"></script>-->
	
	<script src=js/main.js></script>

	<!-- Yandex.Metrika counter -->
	<!-- /Yandex.Metrika counter -->

	<!-- Google Analytics counter -->
	<!-- /Google Analytics counter -->
	<!-- SCRIPTS end-->